node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/modules.xml
/.idea/mono-demo.iml
/.idea/vcs.xml
/.turbo/cache/40fc5421df58d650.tar.zst
/.turbo/cache/40fc5421df58d650-meta.json
/.turbo/cache/0785b31858140e5e.tar.zst
/.turbo/cache/0785b31858140e5e-meta.json
/.turbo/cache/12065e3b146db444.tar.zst
/.turbo/cache/12065e3b146db444-meta.json
/.turbo/cache/61366ed60d9aa188.tar.zst
/.turbo/cache/61366ed60d9aa188-meta.json
/.turbo/cache/d39136e926b78215.tar.zst
/.turbo/cache/d39136e926b78215-meta.json
/.turbo/cache/e3b0425cd66eb9e5.tar.zst
/.turbo/cache/e3b0425cd66eb9e5-meta.json
/.turbo/cookies/1.cookie
/.turbo/cookies/2.cookie
/.turbo/cookies/3.cookie
/.turbo/cookies/4.cookie
/.turbo/cookies/5.cookie
/.turbo/cookies/6.cookie
/.turbo/cookies/7.cookie
/.turbo/cookies/8.cookie
/.turbo/cookies/9.cookie
/.turbo/cookies/10.cookie
/.turbo/cookies/11.cookie
/.turbo/cookies/12.cookie
/.turbo/cookies/13.cookie
/.turbo/cookies/14.cookie
/.turbo/cookies/15.cookie
/.turbo/cookies/16.cookie
/.turbo/cookies/17.cookie
/.turbo/cookies/18.cookie
/.turbo/daemon/6c973a20a2d586dd-turbo.log.2024-07-22
/svelte1/.turbo/turbo-lint.log
